name: Build Container Images

on:
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Install Apptainer
        run: |
          .github/scripts/install_apptainer.sh
      - name: Check Apptainer installation
        run: apptainer --version
      - name: Build images
        run: |
          .github/scripts/build_container_images.sh
